.mainlogin-div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

.login--button {
    text-align: center;
    border-bottom: 2px solid black;
}

.login--button a:any-link {
    display: block;
    width: 200px;
    border: 2px solid black;
    font-size: 1.2rem;
    padding: 15px;
    color: black;
    text-decoration: none;
}

.login-input input {
    font-size: 1.5rem;
    padding: 10px;
    width: min(500px, 80vw);
    min-height: 60px;

}

.login-input p {
    width: min(500px, 80vw);
    padding: 5px;
    background: rgba(0, 0, 0, 0.64);
    color: white;
    font-size: 1.2rem;
}

.mainlogin-div button {
    font-size: 1.4rem;
    width: min(500px, 80vw);
    min-height: 60px;
    background: rgba(0, 0, 255, 0.257);
    border: 2px solid white;
    cursor: pointer;
}

.mainlogin-div button:active {
    background: blueviolet;
}

.error-message {
    width: min(500px, 80vw);
    min-height: 60px;
    background: rgba(245, 0, 0, 0.351);
    border: 2px solid rgb(0, 30, 255);
    text-align: center;
    padding-top: 20px;
    font-size: 1.2rem;
}

.success-div {
    position: absolute;
    left: calc(50vw - 175px);
    top: calc(15vh);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 350px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5%;
    background: rgb(148, 255, 148);
}

.success-div h1 {
    font-size: 3rem;
}

.success-div p {
    font-size: 1.5rem;
}
